.container-country{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.c-activity{
    text-decoration: none;
    /* background-color: rgb(39, 93, 39); */
    color:rgb(1, 1, 50);
    padding: 4px;
    border-style: none;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.25rem;
    margin: 5px;
}
.c-activity:hover{
    background-color: rgb(162, 162, 163);
}
.input{
    border-radius: 0.25rem;
    font-size: 16px;
}
